#about-sec{
    padding: 100px 0;
}

.about{
    width: 85%;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.about-img{
    width: 40%;
    margin: auto;
    background: #1b1b1b;
    border-radius: 50% 50% 10px 10px;
}

.highlight{
    color: #f96e00;
}

.about-img > img{
    width: 100%;
}

.about-txt{
    width: 50%;
}

.about-txt p{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .about{
        flex-direction: column;
        gap: 50px;
    }

    .about-img{
        width: 100%;
    }

    .about-txt
    {
        width: 85%;
        text-align: center;
    }
}