footer{
    width: 100vw;
    text-align: center;
    padding-bottom: 30px;
}

.footer-logo{
    width: 20%;
}

.footer-links{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    list-style: none;
    margin: 20px auto;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-links a:hover{
    color: #f96e00;
}

footer > p{
    color: #f96e00;
    margin-top: 40px;
}