#project-sec{
    width: 100vw;
    padding-top: 100px;
}

.projects-menu{
    width: 100%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}

.projects-menu li{
    background: #1b1b1b;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.projects-menu li:hover{
    background: #f96e00;
}

.projects{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.projects-menu li {
  cursor: pointer;
  transition: 0.3s;
}

.projects-menu li.active {
  color: #f96e00;
  font-weight: 600;
}
